<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="removeShutdown" value="false" />
    <add key="hour" value="23" />
    <add key="minute" value="50" />
    <add key="second" value="59" />
  </appSettings>
</configuration>